**/Automacao/requirements.txt
**/Automacao/msedgedriver.exe
**/Automacao/Driver_Notes
**/Coleta_de_Dados/.env
**/Rev1.py
**/Sistemas/Meu_Projeto/.env
**/Sistemas/Meu_Projeto/dist
**/Sistemas/Meu_Projeto/build
**/Sistemas/Meu_Projeto/Meu_Dia.spec